.text-center {
  text-align: center;
}
.graphContainer {
  width: 40vw;
  height: 50vh;
  text-align: start;
  color: #7c7c7c;
}

.graphTitle {
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
.graphFilter {
  padding: 5px;
  font-size: 1rem;
  margin-left: 0.5rem;
  color: gray;
}
